[Unit]
Description=Run a js file to serve an HTML file with Caddy
After=network.target

[Service]
User=webb
Group=webb
Type=notify
ExecStart=/home/webb/.volta/bin/node /home/webb/src/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target